fastapi
uvicorn[standard]
beanie
motor
pymongo
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-multipart
aiofiles
celery[redis]
redis
Pillow
pandas
numpy
python-dotenv
httpx
requests